---
title: "Simple Todo List"
summary: "A very simple todo list app. Type your tasks into the box and click to remove. All data is stored in localStorage."
date: 2024-01-19T20:26:47Z
draft: false
---
<ul id="list"></ul>
<form id="input">
    <input id="textBox">
    <button>Add</button>
</form>
<br>
<button id="clearBtn">Clear All</button>
<script src="todo.js"></script>
<p><a href="todo.js">Source</a></p>