---
title: "Silly Sentence Generator"
summary: "Generates a random sentance every time you click the button."
draft: false
---
<button id="randomSentenceBtn">Generate Random Sentence</button>
<ul id="randomSentenceTxt"></ul>
<script type="text/javascript" src="silly.js"></script>
<a href="silly.js">Source</a>
