html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 5px;
  min-height: 98.5%;
  display: grid;
  grid-template-rows: 1fr auto;
  height: auto;
}

header {
  background-color: #00008B;
  position: sticky;
  margin: -5px;
  top: 0px;
  grid-row-end: 1;
}

nav a {
  color: #dddddd;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  /* Disable selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav a strong {
  color: #eeeeee;
}

nav a:hover {
  color: #ffffff;
}

main {
  grid-row-start: 1;
  grid-row-end: 1;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 99.5%;
}

footer p {
  font-size: smaller;
  display: inline;
  vertical-align: middle;
}

footer a {
  display: inline-block;
  float: right;
}

button {
  background-color: #00008B;
  color: white;
  border-style: solid;
  border-color: #00004B;
}

button:focus {
  background-color: #00009B;
}

button:hover {
  background-color: #00009B;
}
