<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s - %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="me" href="https://mstdn.social/@infinity48">
{{/* {{ partialCached "head/js.html" . }} */}}