---
title: "Games"
draft: false
summary: "Some random games I have made for fun."
---
<p>
    Some random games I have made for fun.
</p>
<h2>Scratch Games</h2>
<h3>Pong X</h3>
<iframe src="https://scratch.mit.edu/projects/102362365/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe><br>
<a href="https://scratch.mit.edu/projects/102362365">Game Page & Source Code</a>
<h3>Flying Cat</h3>
<iframe src="https://scratch.mit.edu/projects/524809772/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe><br>
<a href="https://scratch.mit.edu/projects/524809772">Game Page & Source Code (New Version)</a><br>
<a href="https://scratch.mit.edu/projects/132378350">Game Page & Source Code (Old Version)</a>
<h3>Catching Game</h3>
<iframe src="https://scratch.mit.edu/projects/132416193/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe><br>
<a href="https://scratch.mit.edu/projects/132416193">Game Page & Source Code</a>
<br>
<h2>Gamemaker Games</h2>
<h3>Maze</h3>
<img src="maze.png" alt="Maze Screenshot" width=640><br>
<a href="https://gamejolt.com/games/maze-wip/260643">Game Page</a><br>
<a href="https://drive.google.com/drive/folders/1kGPjlZ2YmmMOfffLgn-_S8LY6L-9yOEv?usp=sharing">Source Code</a>
<p xmlns:dct="https://purl.org/dc/terms/" xmlns:vcard="https://www.w3.org/2001/vcard-rdf/3.0#">
    <a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">
        <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
    </a>
    <br /> To the extent possible under law,
    <span resource="[_:publisher]" rel="dct:publisher">
			<span property="dct:title">Infinity48</span></span>
    has waived all copyright and related or neighboring rights to this work. This work is published from:
    <span property="vcard:Country" datatype="dct:ISO3166" content="GB" about="[_:publisher]">
			United Kingdom</span>.
</p>
<h3>Bomb on the Run</h3>
<img src="botr1.png" alt="Bomb on the Run Screenshot" width=640><br>
<a href="https://gamejolt.com/games/bomb_on_the_run/405619">Game Page</a><br>
<a href="https://drive.google.com/drive/folders/1kGPjlZ2YmmMOfffLgn-_S8LY6L-9yOEv?usp=sharing">Source Code</a>
<p xmlns:dct="https://purl.org/dc/terms/" xmlns:vcard="https://www.w3.org/2001/vcard-rdf/3.0#">
    <a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">
        <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
    </a>
    <br /> To the extent possible under law,
    <span resource="[_:publisher]" rel="dct:publisher">
			<span property="dct:title">Infinity48</span></span>
    has waived all copyright and related or neighboring rights to this work. This work is published from:
    <span property="vcard:Country" datatype="dct:ISO3166" content="GB" about="[_:publisher]">
			United Kingdom</span>.
</p>
<h2>Python Arcade Games</h2>
<p>
    <h3>Bomb on the Run 2</h3>
    <img src="botr2.png" alt="Bomb on the Run 2 Screenshot" width=640><br>
    <a href="https://gamejolt.com/games/Bomb_on_the_run_2/569612">Game Page</a><br>
    <a href="https://gitlab.com/Infinity48/bomb-on-the-run-2">Source Code</a><br>
    <p>Licensed under <a href="https://www.mozilla.org/en-US/MPL/2.0/">MPL 2.0</a></p>
</p>
<p>
    <h3>Tock-Tick</h3>
    <img src="tock-tick.png" alt="Tock-Tick Screenshot" width=640><br>
    <a href="https://infinity48.itch.io/toc-tick">Game Page</a><br>
    <a href="https://gitlab.com/Infinity48/toc-tick">Source Code</a><br>
    <p>Licensed under <a href="https://www.mozilla.org/en-US/MPL/2.0/">MPL 2.0</a></p>
</p>
<h2>Godot Games</h2>
<p>
    <h3>Frustrating Boat Game</h3><br>
    <img src="fbg.png" alt="Frustrating Boat Game Screenshot" height=480><br>
    <a href="https://infinity48.itch.io/frustrating-boat-game">Game Page</a><br>
    <a href="https://gitlab.com/Infinity48/frustrating-boat-game">Source Code</a><br>
    <p>Licensed under <a href="https://gitlab.com/Infinity48/frustrating-boat-game/-/blob/master/LICENSE">MIT</a></p>
</p>
<p>
    <h3>Cheating the Extraterrestrials</h3>
    <img src="cte.png" alt="Cheating the Extraterrestrials Screenshot" width=640><br>
    <a href="https://infinity48.itch.io/cheating-the-extraterrestrials">Game Page</a><br>
    <a href="https://gitlab.com/Infinity48/cheating-the-extraterrestrials">Source Code</a><br>
    <p>Licensed under <a href="https://www.mozilla.org/en-US/MPL/2.0/">MPL 2.0</a></p>
</p>